<!DOCTYPE html>
<html  xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head xmlns:hf="http://www.w3.org/1999/xhtml">
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Danger Dungeon</title>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>


</head>
<body style="background-color: #7A2C28;">
<nav class="navbar navbar-expand-lg" style="background-color: #3B0002;">
  <div class="container-fluid" align="right">
    <a class="navbar-brand" href="/">
      <font color="faebd7" face="Algerian">Danger Dungeon</font>
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/collection">
            <font color="faebd7" face="Book Antiqua">Моя коллекция</font>
          </a>
        </li>
      </ul>
      <div class="nab-item" align="right" style="color: #faebd7">
        <a th:text="${#authentication.getName()}"></a>
      </div>
      <form class="col" action="/logout" method="POST">
        <input class="btn btn-secondary" style="background-color: burlywood; font-family: Algerian; border: 0" type="submit" value="Log out">
      </form>
    </div>
  </div>
</nav>
<div class="container m-5" align="center" style="min-width:95%; padding: 0 20%;">
  <form class="g-3"  action="/creation/continue" method="POST">
    <div class="col-auto">
      <div class="input-group-prepend">
        <span class="input-group-text mb-4" style="background-color: #faebd7; width: 27%; border: 0">Имя персонажа</span>
        <input type="text" class="form-control ml-1" name="character_name" style="background-color: #faebd7" required>
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal" data-bs-target="#raceBtnInfo" style="background-color: burlywood; width: 35%; border: 0">
        Раса
        </button>
        <select type="text" class="form-control ml-1" name="race_id" style="background-color: #faebd7">
          <option selected disabled>Выберите расу</option>
          <option th:each="race: ${races}" th:value="${race.getRace_id()}"
                  th:text="${race.getRace_name()}"></option>
        </select>
      </div>
    </div>
    <div class="col-auto">
      <div class="input-group-prepend">
        <button type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal" data-bs-target="#classBtnInfo" style="background-color: burlywood; width: 35%; border: 0">
          Класс
        </button>
        <select type="text" class="form-control ml-1" name="class_id" style="background-color: #faebd7">
          <option selected disabled>Выберите класс</option>
          <option th:each="class: ${classes}" th:value="${class.getClass_id()}"
                  th:text="${class.getClass_name()}">
          </option>
        </select>
        </div>
      <button type="submit" class="btn btn-primary ml-3 btn-lg" style="background-color: burlywood; border: 0">Далее</button>
    </div>
  </form>
</div>

<div class="modal fade" id="raceBtnInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="raceModal">Поговорим о расах!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row alert alert-primary" role="alert" th:each="race: ${races}" th:value="${race.getRace_id()}">
            <div class="col-auto" th:text="${race.getRace_description()}"></div><br>
            <div class="col-auto" th:text="${race.getRace_attribute()}"></div><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="classBtnInfo" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="classModal">Поговорим о классах!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row alert alert-primary" role="alert" th:each="class: ${classes}" th:value="${class.getClass_id()}">
            <div class="col-auto" th:text="${class.getClass_name()}"></div><br>
            <div class="col-auto" th:text="${class.getClass_attribute()}"></div><br>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
</body>
</html>